---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - create
  - delete
  - get
  - list
  - update
  - watch
- apiGroups:
  - appstudio.redhat.com
  resources:
  - spiaccesschecks
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - appstudio.redhat.com
  resources:
  - spiaccesschecks/finalizers
  verbs:
  - update
- apiGroups:
  - appstudio.redhat.com
  resources:
  - spiaccesschecks/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - appstudio.redhat.com
  resources:
  - spiaccesstokenbindings
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - appstudio.redhat.com
  resources:
  - spiaccesstokenbindings/finalizers
  verbs:
  - update
- apiGroups:
  - appstudio.redhat.com
  resources:
  - spiaccesstokenbindings/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - appstudio.redhat.com
  resources:
  - spiaccesstokendataupdates
  verbs:
  - delete
  - get
  - list
  - watch
- apiGroups:
  - appstudio.redhat.com
  resources:
  - spiaccesstokens
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - appstudio.redhat.com
  resources:
  - spiaccesstokens/finalizers
  verbs:
  - update
- apiGroups:
  - appstudio.redhat.com
  resources:
  - spiaccesstokens/status
  verbs:
  - get
  - patch
  - update
