apiVersion: operators.coreos.com/v1alpha1
kind: ClusterServiceVersion
metadata:
  annotations:
    alm-examples: '[]'
    capabilities: Basic Install
  name: service-provider-integration-operator.v0.3.0
  namespace: placeholder
spec:
  apiservicedefinitions: {}
  customresourcedefinitions:
    owned:
    - description: SPIAccessTokenBinding is the Schema for the spiaccesstokenbindings
        API
      displayName: SPIAccess Token Binding
      kind: SPIAccessTokenBinding
      name: spiaccesstokenbindings.appstudio.redhat.com
      version: v1beta1
    - description: SPIAccessToken is the Schema for the spiaccesstokens API
      displayName: SPIAccess Token
      kind: SPIAccessToken
      name: spiaccesstokens.appstudio.redhat.com
      version: v1beta1
  description: Service Provider operator
  displayName: Service Provider Service
  icon:
  - base64data: ""
    mediatype: ""
  install:
    spec:
      deployments: null
    strategy: ""
  installModes:
  - supported: false
    type: OwnNamespace
  - supported: false
    type: SingleNamespace
  - supported: false
    type: MultiNamespace
  - supported: true
    type: AllNamespaces
  keywords:
  - spi
  - service-provider
  - appstudio
  - redhat
  - kubernetes
  links:
  - name: Service Provider Integration Operator
    url: https://service-provider-integration-operator.domain
  maturity: alpha
  provider:
    name: Red Hat
  version: 0.1.0
