kind: Kustomization
apiVersion: kustomize.config.k8s.io/v1beta1

namespace: spi-system

resources:
  - ../k8s

patches:
  - target:
      version: v1
      kind: ConfigMap
      name: shared-environment-config
      namespace: system
    patch: |-
      - op: add
        path: /data/VAULTINSECURETLS
        value: "true"
